:host {
  grid-row: auto / span 4;
  display: grid;
  grid-template-rows: subgrid;
}

.card {
  background-color: var(--zen-neutral-tint-seven);
  grid-row: auto / span 4;
  display: grid;
  grid-template-rows: subgrid;
  border: 1px solid var(--zen-neutral-tint-four);
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card__image {
  width: 100%;
  aspect-ratio: 1.5 / 1;
  margin-bottom: 12px;
}

.card__title {
  text-transform: uppercase;
  margin-bottom: 8px;
}

.taglist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.taglist__item {
  display: block;
  background: var(--zen-extended1-default);
  color: var(--zen-colour-base2-default);
  padding: 0 8px;
  height: 27px;
  line-height: 27px;
}
