:root {
  --zen-colour-base2-default: #0c2340;

  --zen-neutral-tint-one: #303030;
  --zen-neutral-tint-four: #d2d2d2;
  --zen-neutral-tint-seven: #ffffff;

  --zen-extended1-default: #00e2e2;
}
