:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-layout-header {
  background-color: white;
  height: 60px;
}

main {
  flex: 1;
  background-color: #f8f8f8;
  padding: 2.5rem 1rem;
}

@media (min-width: 768px) {
  app-layout-header {
    height: 85px;
  }
}
